<section
	class='flex justify-center items-center flex-col mt-12 w-full md:w-full z-10'>
	<article
		class='flex justify-center items-center flex-col gap-4 w-[90%] md:w-2/3 [background:radial-gradient(50%_50%_at_50%_50%,_#403A5F_0%,_#211E2E_100%)] rounded-2xl h-auto py-8'>
		<h2 class='font-bold text-2xl text-customtext'>JOIN HYDRA</h2>
		<hr class='w-[37%] line my-2' />
		<div class='flex justify-center items-center flex-col'>
			<p class='font-light text-2xl text-customtext'>Let’s Build</p>
			<p class='font-light text-2xl text-customtext'>Your VR Experience</p>
		</div>
		<form class='flex justify-center items-center flex-col gap-4 h-auto w-full'>
			<div
				class='flex flex-wrap justify-center md:justify-between items-center gap-5 w-full md:w-4/5'>
				<input
					class='bg-transparent outline-none border-2 border-white rounded-full block w-4/5 md:w-[48.5%] p-3 text-customtext'
					type='text'
					name=''
					id=''
					placeholder='First Name'
				/>
				<input
					class='bg-transparent border-2 outline-none border-white rounded-full block w-4/5 md:w-[48.5%] p-3 text-customtext'
					type='text'
					name=''
					id=''
					placeholder='Last Name'
				/>
				<input
					class='bg-transparent border-2 outline-none border-white rounded-full block w-4/5 md:w-[48.5%] p-3 text-customtext'
					type='email'
					name=''
					id=''
					placeholder='Email'
				/>
				<input
					class='bg-transparent border-2 outline-none border-white rounded-full block w-4/5 md:w-[48.5%] p-3 text-customtext'
					type='number'
					name=''
					id=''
					placeholder='Phone Number'
				/>
			</div>
			<input
				class='bg-transparent border-2 outline-none border-white rounded-full block w-4/5 p-3 text-customtext'
				type='text'
				placeholder='Subject'
			/>
			<textarea
				class='bg-transparent border-2 outline-none border-white rounded-2xl w-[83%] md:w-4/5 p-3'
				name=''
				id=''
				cols='30'
				rows='10'
				placeholder='Tell Us Something...'
			></textarea>
			<button
				class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark'
				type='submit'>
				SEND TO HYDRA
			</button>
		</form>
	</article>
</section>
