---
import About from '../components/About.astro';
import FirstSetion from '../components/FirstSetion.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='landing-page-hydra-project'>
  <Header />
  <main class='flex justify-center items-center flex-col w-full'>
    <FirstSetion />
    <About />
    <Services />
    <Form />
  </main>
  <Footer />
</Layout>
<style is:global>
  #about-item {
    animation: viewComponent linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 35%;
  }
  @media (prefers-reduced-motion: reduce) {
    #about-item {
      animation: none;
    }
  }
</style>
