---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import FirstSetion from '../sections/FirstSetion.astro';
import Header from '../sections/Header.astro';
---

<Layout title='landing-page-hydra-project'>
  <Header />
  <main class='flex justify-center items-center flex-col w-full'>
    <FirstSetion />
    <About />
  </main>
</Layout>
