---
import About from '../Setions/About.astro';
import FirstSetion from '../Setions/FirstSetion.astro';
import Footer from '../Setions/Footer.astro';
import Form from '../components/form/Form.astro';
import Header from '../Setions/Header.astro';
import HowTo from '../Setions/HowTo.astro';
import Services from '../Setions/Services.astro';
import Tecnologies from '../Setions/Tecnologies.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='landing-page-hydra-project'>
	<Header />
	<FirstSetion />
	<main class='flex justify-center items-center flex-col w-full'>
		<About />
		<Services />
		<Tecnologies />
		<HowTo />
		<Form />
	</main>
	<Footer />
</Layout>
