---
import BtnPrimary from './Buttons/BtnPrimary.astro';

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<article
  class='hidden md:flex justify-center items-center flex-col gap-5 w-4/5 md:min-w-[310px] min-h-[511px] rounded-3xl [background:radial-gradient(50%_50%_at_50%_50%,_#433D60_0%,_#211E2E_100%)] relative'
>
  <div class='bg-fondo rounded-full p-2'>
    <slot />
  </div>
  <h2 class='text-customtext font-bold text-base leading-8 w-full text-center'>
    {title}
  </h2>
  <hr class='w-1/2 h-[0.5px] btn-small rounded-full' />
  <p class='w-4/5 text-customtext font-normal text-xs leading-4'>
    {body}
  </p>
  <BtnPrimary body='TRY IT NOW' />
</article>
<style></style>
