<header class='w-full'>
  <nav
    class='flex justify-between md:justify-around items-baseline md:items-center px-5 pt-5 md:pt-10'
  >
    <div class='flex items-baseline md:items-center gap-2'>
      <img
        src='./public/mobile/Vector.svg'
        alt='logo'
      />
      <img
        src='./public/mobile/Frame.svg'
        alt='frame'
      />
    </div>
    <ul class='hidden md:flex md:gap-14'>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#about'
          >ABOUT</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#services'
          >SERVICES</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#technologies'
          >TECHNOLOGIES</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#how-to'
          >HOW TO</a
        >
      </li>
    </ul>
    <div class='hidden md:flex md:justify-center md:items-center md:gap-10'>
      <a
        class='border-[1px] border-white rounded-full text-customtext py-2 px-11'
        href='#contact'
        >CONTACT US</a
      >
      <a
        class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark'
        href='#join'
        >JOIN HYDRA</a
      >
    </div>
    <img
      class='md:hidden'
      src='./public/mobile/Hamburger-Button.svg'
      alt='menu'
    />
  </nav>
  <img
    class='z-20 hidden md:block absolute animate-pulse'
    src='/public/desktop/Vector 4.svg'
    alt='vector 4'
  />

  <img
    class='z-20 hidden md:block absolute right-[176px] top-[-145px] transform rotate-[-9deg] animate-pulse'
    src='/public/desktop/Vector 2.svg'
    alt='vector'
  />
</header>
