<section
  class='flex justify-center items-center flex-col my-14 w-full md:w-[86%]'
>
  <article
    class='flex justify-center items-center flex-col md:flex-row w-[90%] md:w-[86%]'
  >
    <div class='md:flex md:flex-col md:justify-start md:items-start md:w-[48%]'>
      <h2 class='text-customtext font-bold text-base leading-8'>WHY BUILD</h2>
      <div class='md:flex md:items-center md:justify-center md:gap-5'>
        <h2
          class='text-base md:text-nowrap text-customtext font-light leading-8'
        >
          WITH HYDRA?
        </h2>
        <img
          class='hidden md:block h-[60px]'
          src='/public/desktop/Component 1.svg'
          alt='Component 1'
        />
      </div>
    </div>
    <p class='hidden md:flex md:w-[52%] text-customtext font-normal text-base'>
      Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
      Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
      mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
      sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
      fringilla urna porttitor rhoncus vitae.
    </p>
  </article>
  <article
    class='flex justify-center items-center gap-5 md:w-[86%] h-auto md:mt-5 relative'
  >
    <article
      class='hidden md:flex justify-center items-center flex-col gap-5 w-4/5 md:min-w-[310px] min-h-[511px] rounded-3xl [background:radial-gradient(50%_50%_at_50%_50%,_#433D60_0%,_#211E2E_100%)] relative'
    >
      <div class='bg-fondo rounded-full p-2'>
        <img
          class='rounded-full'
          src='/public/mobile/pexels-shvets-production-7561969 1.png'
          alt=''
        />
      </div>
      <h2
        class='text-customtext font-bold text-base leading-8 w-full text-center'
      >
        SIMULATION
      </h2>
      <hr class='w-1/2 h-[0.5px] btn-small rounded-full' />
      <p class='w-4/5 text-customtext font-normal text-xs leading-4'>
        Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
        rhoncus libero justo laoreet sit amet vitae.
      </p>
      <a
        class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark z-50 w-[75%] text-nowrap'
        href='#'
        >TRY IT NOW</a
      >
    </article>
    <article
      class='hidden md:flex justify-center items-center flex-col gap-5 w-4/5 md:min-w-[310px] min-h-[511px] rounded-3xl [background:radial-gradient(50%_50%_at_50%_50%,_#433D60_0%,_#211E2E_100%)] relative'
    >
      <div class='bg-fondo rounded-full p-2'>
        <img
          class='rounded-full'
          src='/public/desktop/pexels-mikhail-nilov-7887140 1.svg'
          alt=''
        />
      </div>
      <h2
        class='text-customtext font-bold text-base leading-8 w-full text-center'
      >
        EDUCATION
      </h2>
      <hr class='w-1/2 h-[0.5px] btn-small rounded-full' />
      <p class='w-4/5 text-customtext font-normal text-xs leading-4'>
        Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
        rhoncus libero justo laoreet sit amet vitae.
      </p>
      <a
        class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark z-50 w-[75%] text-nowrap'
        href='#'
        >TRY IT NOW</a
      >
    </article>
    <article
      class='hidden md:flex justify-center items-center flex-col gap-5 w-4/5 md:min-w-[310px] min-h-[511px] rounded-3xl [background:radial-gradient(50%_50%_at_50%_50%,_#433D60_0%,_#211E2E_100%)] relative'
    >
      <div class='bg-fondo rounded-full p-2'>
        <img
          class='rounded-full'
          src='/public/desktop/pexels-rodnae-productions-8098263 2.svg'
          alt=''
        />
      </div>
      <h2
        class='text-customtext font-bold text-base leading-8 w-full text-center'
      >
        SELF-CARE
      </h2>
      <hr class='w-1/2 h-[0.5px] btn-small rounded-full' />
      <p class='w-4/5 text-customtext font-normal text-xs leading-4'>
        Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
        rhoncus libero justo laoreet sit amet vitae.
      </p>
      <a
        class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark z-50 w-[75%] text-nowrap'
        href='#'
        >TRY IT NOW</a
      >
    </article>
    <article
      class='hidden md:flex justify-center items-center flex-col gap-5 w-4/5 md:min-w-[310px] min-h-[511px] rounded-3xl [background:radial-gradient(50%_50%_at_50%_50%,_#433D60_0%,_#211E2E_100%)] relative'
    >
      <div class='bg-fondo rounded-full p-2'>
        <img
          class='rounded-full'
          src='/public/desktop/pexels-mali-maeder-756439 1.svg'
          alt=''
        />
      </div>
      <h2
        class='text-customtext font-bold text-base leading-8 w-full text-center'
      >
        OUTDOOR
      </h2>
      <hr class='w-1/2 h-[0.5px] btn-small rounded-full' />
      <p class='w-4/5 text-customtext font-normal text-xs leading-4'>
        Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
        rhoncus libero justo laoreet sit amet vitae.
      </p>
      <a
        class='[background:linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] py-3 px-12 block rounded-full hover:animate-pulse-two text-sm font-bold text-center text-customtextDark z-50 w-[75%] text-nowrap'
        href='#'
        >TRY IT NOW</a
      >
    </article>
    <div
      class='md:hidden absolute z-40 flex top-0 left-0 w-full h-full px-[5%]'
    >
      <div class='my-auto w-full flex justify-between'>
        <div class='bg-fondo p-1 rounded-full'>
          <button class='btn-small rounded-full'>
            <img
              src='/public/mobile/chevron-small-down-left.svg'
              alt='circle-left'
            />
          </button>
        </div>
        <div class='bg-fondo p-1 rounded-full'>
          <button class='btn-small rounded-full'>
            <img
              src='/public/mobile/chevron-small-down-right.svg'
              alt='circle-right'
            />
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
