---

---

<article class='overflow-auto w-full'>
  <div class='flex flex-row flex-nowrap items-center justify-center gap-5'>
    <div class='flex-grow flex-shrink-0 basis-full md:flex-shrink'>
      <img
        class='w-full'
        src='/public/desktop/Hydra-Tech1 1.svg'
        alt='hydra-tech1'
      />
    </div>
    <div class='flex-grow flex-shrink-0 basis-full md:flex-shrink'>
      <img
        class='w-full'
        src='/public/desktop/Hydra-Tech3 1.svg'
        alt='hydra-tech3'
      />
    </div>
    <div class='flex-grow flex-shrink-0 basis-full md:flex-shrink'>
      <img
        class='w-full'
        src='/public/desktop/Hydra-Tech2 1 (1).svg'
        alt='hydra-tech2'
      />
    </div>
    <div class='flex-grow flex-shrink-0 basis-full md:flex-shrink'>
      <img
        src='/public//mobile/Hydra-Tech4 1.svg'
        alt='Hydra-Tech4'
      />
    </div>
  </div>
</article>
