---

---

<section
  id='technologies'
  class='flex justify-center items-center flex-col mt-12 w-full md:w-[86%]'
>
  <article class='relative'>
    <picture class=''>
      <source
        srcset='/public/desktop/pexels-rodnae-productions-80973321.svg'
        media='(min-width: 768px)'
      />
      <img
        class='rounded-3xl md:rounded-full'
        src='/public/mobile/Mask-group-tecnology.png'
        alt='group-tecnology'
      />
    </picture>
    <div class='absolute flex top-0 left-0 w-full h-full'>
      <div class='my-auto w-full flex justify-center items-center flex-col'>
        <h2 class='font-bold text-base text-customtext leading-5'>
          TECHNOLOGIES & HARDWARE
        </h2>
        <h2 class='font-light text-customtext text-2xl'>USED BY HYDRA VR.</h2>
      </div>
    </div>
  </article>
  <article class='w-full flex justify-center items-center md:gap-5 relative'>
    <img
      class='hidden md:block'
      src='/public/desktop/Hydra-Tech1 1.svg'
      alt='hydra-tech1'
    />
    <img
      class='hidden md:block'
      src='/public/desktop/Hydra-Tech3 1.svg'
      alt='hydra-tech3'
    />
    <img
      class='hidden md:block'
      src='/public/desktop/Hydra-Tech2 1 (1).svg'
      alt='hydra-tech2'
    />
    <img
      src='/public//mobile/Hydra-Tech4 1.svg'
      alt='Hydra-Tech4'
    />
    <div class='md:hidden absolute flex top-0 left-0 w-full h-full px-3'>
      <div class='my-auto w-full flex justify-between px-1'>
        <div class='bg-fondo p-1 rounded-full'>
          <button
            class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full block'
          >
            <img
              id='prev'
              src='/public/mobile/chevron-small-down-left.svg'
              alt='circle-left'
            />
          </button>
        </div>
        <div class='bg-fondo p-1 rounded-full'>
          <button
            class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full block'
          >
            <img
              id='next'
              src='/public/mobile/chevron-small-down-right.svg'
              alt='circle-right'
            />
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
